/* COMMON  */
:root{
    --white: #ffffff;
    --black: #000000;
    --light-cyan-blue: #b4d0e7;
    --azure: #0061ff;
    --butter-lattuce: #d1e9cd;
    --pistachio-green: #a2d39b;
    --burgundy: #61082b;
    --electric-blue: #0093ce;
    --vivid-red: #ff1c1c;
    --crimson: #d5001f;
    --navy: #0d2481;
    --sprint-yellow: #ffd830;
    --light-gray: #999999;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: 'Open Sans', Arial, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
    margin: 150px auto; /*togliere 150 a tutti*/
}
.d-flex{
    display: flex;
}
.w-30{
    width: 30%;
    padding-top: 60px;
}
.w-70{
    width: 70%;
    padding-top: 60px;
}
nav li{
    list-style: none;
    padding: 0 20px;
}

/* HEADER  */
.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--white)
}

header nav li a{
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
}

.btn-nav{
    width: 70px;
    height: 35px;
    background-color: var(--azure);
    color: var(--white);
    border: none;
    font-size: 16px;
}

#hero{
    background-color: var(--light-cyan-blue);
    padding-top: 80px;
}

#hero .container{
    position: relative;
    bottom: -80px;
}

#hero img{
    width: 100%;
}

h1{
    font-size: 76px;
    font-weight: 800;
}

.btn-hero{
    width: 225px;
    height: 45px;
    background-color: var(--azure);
    color: var(--white);
    border: none;
    font-size: 16px;
    margin: 30px 0;
}

#hero p{
    font-size: 16px;
    line-height: 1.4;
}

.arrow{
    font-size: 45px;
    padding-top: 75px;
    color: var(--black);
}
/* MAIN  */
h2{
    font-size: 42px;
    margin-bottom: 75px;
    line-height: 1.3;
}
/* section1 */
.container-radio-btn {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-right: 35px;
    cursor: pointer;
}

.container-radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container-radio-btn:hover input ~ .checkmark {
    background-color: var(--light-gray);
}

.container-radio-btn input:checked ~ .checkmark {
    background-color: var(--azure);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio-btn input:checked ~ .checkmark:after {
    display: inline-block;
}

.container-radio-btn .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--white);
}

.plan-card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 50px 50px;
    /* background-color: #a2d39b; */
}
.plan-card{
    width: calc((100% - 100px)/ 3);
    padding: 20px;
    border: 1px solid var(--light-gray);
}

.enterprise{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    padding: 10px 0;
    border: 1px solid var(--light-gray);
}
.inner-card{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    /* background-color: #b4d0e7; */
}

.w-65{
    width: 65%;
    /* background-color: #d5001f; */
}
.w-35{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    width: 35%;
    /* background-color: aqua; */
}
.w-65 span{
    font-weight: bold;
    font-size: 14px;
}
.w-65 p{
    padding-top: 50px;
    font-size: 14px;
}
.call{
    background-color: var(--azure);
    color: var(--white);
    border: none;
    font-size: 16px;
    width: 240px;
    height: 45px;
}
#business-plan h3{
    font-size: 24px;
    padding-bottom: 20px;
}
#business-plan li{
    list-style: none;
    padding-bottom: 20px;
}

.buy-now{
    padding-bottom: 40px;
}

/* section2 */
.flex-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#find-a-partner img{
    width: 60%;
}

.txt{
    padding: 0 50px;
    padding-top: 60px;
}
#find-a-partner h3{
    font-size: 24px;
    padding-bottom: 20px;
}
#find-a-partner p{
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 1.3;
}

#find-a-partner button{
    width: 155px;
    height: 45px;
    background-color: var(--white);
    border: 1px solid var(--black);
    font-size: 16px;
}
/* section3 */
.box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.option{
    width: calc(100% / 3);
    padding-right: 40px;
    margin-top: 50px;
}
.card-img img{
    width: 100%;
}
#operations h3{
    font-size: 24px;
    padding-bottom: 30px;
}

/* section5 */
#designit{
    background-color: var(--light-gray);
    display: flex;
}
.left{
    width: 20vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.center{
    width: calc(100% - 40vw);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 50px 50px;
}
.center img{
    width: 25%;
}
.right{
    width: 20vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.square{
    width: 10vw;
    height: 10vw;
    background-color: #a2d39b;
    border: 1px solid black;
}


/* section6 */
#try-fot-free{
    background-color: var( --light-cyan-blue);
    height: 360px;
}

.btn-white-big{
    width: 295px;
    height: 45px;
    background-color: var(--white);
    border: none;
    font-size: 16px;
}

.flex{
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* section7 */

details {
    display: block;
  }

details > summary{
    padding: 40px;
    border-top: 1px solid black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}










/* FOOTER  */

footer{
    height: 570px;
    background-color: var(--black);
    color: var(--white);
}


footer nav li a{
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    line-height: 2;
}

.list-title{
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 20px;
}

.footer-container{
    max-width: 1200px;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-container{
    height: 70px;
    width: 120px;
    border-top: 2px solid var(--light-gray);
}

.lang{
    background: var(--black); 
    color: var(--light-gray);
    border: none;
    font-size: 16px;
    margin-top: 50px;
}

footer i{
    color: var(--light-gray);
}